[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
django-debug-toolbar = "*"

[packages]
django = "*"
psycopg2 = "*"
pandas = "*"
django-leaflet = "*"
django-geojson = "*"
scikit-learn = "*"
pyshp = "*"
django-environ = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
