[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
pandas = "*"
django-leaflet = "*"
django-geojson = "*"
scikit-learn = "*"
pyshp = "*"

[requires]
python_version = "3.7"
